@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* font-family: 'Poppins', sans-serif;
    font-weight: 400px; */
}

.mainContainer {
    margin-top: 60px;
    font-size: 30px;
}

.mainContainer h2 {
    margin-top: 80px;
    color: rgb(9, 29, 29);
    font-size: 35px;
}

.manageComplains {
    width: 70%;
    height: auto;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
}


.compalainsBox {
    width: 80%;
    height: auto;

    margin-left: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.compalainsBox h3 {
    width: 40%;
    background-color: rgb(255, 255, 255);

    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    align-items: center;
    padding: 10px;

}

.compalainsBox p {
    width: 100%;
    text-align: justify;
    margin-top: 20px;
    font-size: 16px;
    background-color: rgb(207, 207, 207);
    border: 1px solid rgb(94, 38, 38);
    border-radius: 10px;
    padding: 10px;
}

.compalainsBox-content {
    width: 70%;
    height: auto;
    margin-left: 40px;
    display: block;
    text-align: center;

    background-color: rgb(255, 255, 255);
}

.compalainsBox-content h3 {
    width: 40%;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
    font-size: 25px;
    align-items: center;
    padding: 10px;

}

.compalainsBox-content p {
    width: 100%;
    height: 200px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 90px;
    font-size: 16.5px;
    background-color: rgb(184, 184, 184);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.commentbox {
    width: 80%;
    margin: auto;
    background-color: rgb(203, 200, 200);
    margin-top: 30px;
}

.commentbox input {
    font-size: 16px;
    color: #822626;
}

.commentbox input {
    background-color: rgb(203, 200, 200);
}